<?xml version="1.0" encoding="utf-8"?>
<!--
  NuGet package manifest (packages.config)
  - Target framework: .NET Framework 4.7.2 (net472)
  - Test stack: NUnit + NUnit3TestAdapter + Microsoft.NET.Test.Sdk
  - Selenium stack: Selenium.WebDriver + Selenium.Support + WaitHelpers + specific drivers
-->
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="17.8.0" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="17.8.0" targetFramework="net472" />
  <package id="NUnit" version="3.14.0" targetFramework="net472" />
  <package id="NUnit.Analyzers" version="3.9.0" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.8.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.8.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.36.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.IEDriver" version="4.14.0" targetFramework="net472" />
</packages>